html, body{height: 100%; }
body{
	margin: 0;
	overflow-x: hidden;
	font-family: sans-serif; 
	font-size:12px; 
	background: none repeat scroll 0 0 #eeeeee;	
}

/* lo style viene preso dal file prenotazione_style.css */
#div_tb_effettuate_content{
	display: none;
}

