<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>ServletPrenotazioneManagement</servlet-name>
    <servlet-class>presentation.servlet.ServletPrenotazioneManagement</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ServletLaboratorioManagement</servlet-name>
    <servlet-class>presentation.servlet.ServletLaboratorioManagement</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>ServletPostazioneManagement</servlet-name>
    <servlet-class>presentation.servlet.ServletPostazioneManagement</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ServletAddettoManagement</servlet-name>
  	<servlet-class>presentation.servlet.ServletAddettoManagement</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>ServletUtenteManagement</servlet-name>
  	<servlet-class>presentation.servlet.ServletUtenteManagement</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletLaboratorioManagement</servlet-name>
    <url-pattern>/laboratorio</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletAssegnamentoManagement</servlet-name>
    <servlet-class>presentation.servlet.ServletAssegnamentoManagement</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletAssegnamentoManagement</servlet-name>
    <url-pattern>/assegnamento</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletPostazioneManagement</servlet-name>
    <url-pattern>/postazioni</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ServletAddettoManagement</servlet-name>
    <url-pattern>/addetto</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ServletUtenteManagement</servlet-name>
    <url-pattern>/utente</url-pattern>
  </servlet-mapping>
   
</web-app>